<% include ./partials/header.ejs %>


<div class='welcome'>
  <ul>
      <li class='quote'>&#8220;</li>
      <li class='middleText'> Welcome to <i><strong>Sightseeing Surfer</strong></i> project. <br> We help you tracking
          places you have visited or about to go. Surf on our database of recomandations
          and create your own favorite sightseeings albums. We get you know about all sightseeings in the city.
          So you can better manage your time and money. As well you can comment, add pictures and share your memories as well.
      </li>
      <li class='quote'>&#8221;</li>
  </ul>
</div>



<% include ./partials/footer.ejs %>
