<% include ../partials/header.ejs %>

<main class="addForm">
    <div class="inputFieldsCreate">
      <form method='POST' action='/sights' />
        <input class='inField' name='name' type='text' placeholder='name' size='30'/>
        <input class='inField' name='city' type='text' placeholder='city' size='30' />
        <input class='inField' id='descAdd' name='description' type='text' placeholder='description' size='30' maxlength='500' />
        <input class='inField' name='picture' type='text' placeholder='url' size='30' />
        <input class='inField' id='status' name='status' type='checkbox' placeholder='status' checked /> Visited<br>
        <input type='Submit' value='add sight'>
      </form>
    </div>
</main>

<% include ../partials/footer.ejs %>
